<h1>Adding a new file</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.file) }}
    {{ form_row(form.sourceLanguage) }}
    {{ form_row(form.targetLanguages) }}
    {{ form_row(form.user) }}
{{ form_end(form) }}