{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-login'}}) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'registration.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}


<form class="form-login" style="margin-top: 50px;" action="{{ path('fos_user_registration_register') }}" method="post">
    <h2 class="form-login-heading">sign up now</h2>
    <div class="login-wrap">
        <label for="username">EMAIL</label>
        <input type="email" class="form-control" id="email" name="_email" required="required" placeholder="Email" autofocus/>

        <label for="username">USERNAME</label>
        <input type="text" class="form-control" id="username" name="_username" required="required" placeholder="Username" autofocus/>

        <label for="password">PASSWORD</label>
        <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="required" />

        <label for="password">CONFIRMATION PASSWORD</label>
        <input type="password" class="form-control" placeholder="Password" id=confirmation_"password" name="_confirmation_password" required="required" />

        <label for="username">FIRST NAME</label>
        <input type="text" class="form-control" id="firstname" name="_firstname" required="required" placeholder="First name" autofocus/>
        <label for="username">LAST NAME</label>
        <input type="text" class="form-control" id="lastname" name="_lastname" required="required" placeholder="Last name" autofocus/>
        <label for="username">LANGUAGES</label>
        <select multiple="multiple" class="form-control" id="fos_user_registration_form_languages" name="fos_user_registration_form[languages][]" required="required" ></select><br>
        <input class="btn btn-theme btn-block" type="submit" id="_submit" name="_submit" value="REGISTER" />
    </div>

</form>